node_modules
.venv/
certs/
**/.env/
*.key
credentials.json
CHAT_DATABASE_URL
SALE_CRM_DATABASE_URL
HRM_DATABASE_URL
FINANCE_DATABASE_URL
SUPPLY_CHAIN_DATABASE_URL
GOOGLE_API_KEY
__pycache__/
venv/
*.pycvenv/
*.pyc
*.bin
.DS_Store
apps/services/erp_ai_chatbot/scripts/*.py
apps/services/face-recognition-attendance-system/dataset/
apps/services/face-recognition-attendance-system/model_save/
apps/services/face-recognition-attendance-system/vid_test/
apps/services/erp_ai_chatbot/app/rag/data/
apps/services/erp_ai_chatbot/app/chroma_policy/