node_modules
.venv/
certs/
**/venv/
.vid_test/*.MOV
.vid_test/*.mp4
.dataset
*.pkl
*.key
GOOGLE_API_KEY
**env
apps/services/face-recognition-attendance-system/vid_test/*MOV
apps/services/face-recognition-attendance-system/vid_test/*mp4
apps/services/face-recognition-atendance-system/dataset/
/apps/services/venv/