services:
    db:
        image: postgres:15-alpine
        ports:
            - '5432:5432'
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=supply_chain_db
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - supply-chain
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            timeout: 5s
            retries: 5

    backend:
        build:
            context: .
            dockerfile: ./.docker/backend/Dockerfile
        volumes:
            - ./backend:/usr/src/app
        depends_on:
            db:
                condition: service_healthy
        ports:
            - '8080:8080'
        environment:
            - DB_HOST=db
            - DB_USER=postgres
            - DB_PASSWORD=postgres
            - DB_NAME=supply_chain_db
            - DB_PORT=5432
        networks:
            - supply-chain

    nginx:
        image: nginx:1.21.6-alpine
        ports:
            - '80:80'
        volumes:
            - ./.docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - backend
        networks:
            - supply-chain

networks:
    supply-chain:
        driver: bridge

volumes:
    postgres_data: